Options +FollowSymLinks -MultiViews
AllowOverride All
Require all granted
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Allow access to this directory
<IfModule mod_authz_core.c>
    Require all granted
</IfModule>

<Directory "/data01/virt118436/domeenid/www.tak22parnoja.itmajakas.ee/hajusrakendused">
    Options +FollowSymLinks
    AllowOverride All
    Require all granted
</Directory> 