RewriteEngine On

# Set directory permissions
<Directory "/data01/virt118436/domeenid/www.tak22parnoja.itmajakas.ee/hajusrakendused/current/public">
    Options +FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>

# Handle Authorization Header
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Redirect Trailing Slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

# Handle Front Controller
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

# Set default directory index
DirectoryIndex index.php

# Enable directory listing
Options +FollowSymLinks
Options -Indexes
