Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<Directory "/data01/virt118436/domeenid/www.tak22parnoja.itmajakas.ee/hajusrakendused/current/public">
    Options +FollowSymLinks
    AllowOverride All
    Require all granted
    Order allow,deny
    Allow from all
</Directory>

# Set directory permissions
<Directory "/data01/virt118436/domeenid/www.tak22parnoja.itmajakas.ee/hajusrakendused/current/public">
    Options +FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>

# Set default directory index
DirectoryIndex index.php

# Enable directory listing
Options +FollowSymLinks
Options -Indexes
